main {
  text-align: center;
  background-color: #F7F7F7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;

  .app-container {
    transform: translateY(-40%);
  }

  .btn-register {
    text-decoration: underline;
    color: blue;
  }
}
